if tweets
  each tweet in tweets
    div(class="card tweet-element")
      div(class="card-body")
        a(class="card-text" href="/tweets/edit/" + tweet._id)= tweet.content
        button(class="btn btn-danger mt-2 float-right" tweetid=tweet._id) x
          